.row {

  @mixin clearfix;

  &--t-padding {
      padding-top: 80px;
  }

  &--gutters {
      margin-right: -60px;
  }

  &--gutters-large {
      margin-right: -100px;
  }

  &--gutters > div {
      padding-right: 60px;
  }

  &--gutters-large > div {
      padding-right: 100px;
  }

  &__3 {
    float: left;
    width: 25%;
  }

  &__4 {
    float: left;
    width: 33.33%;

    &--larger {
        width: 37%;
    }
  }

  &__6 {
    float: left;
    width: 50%;
  }

  &__8 {
    float: left;
    width: 66.66%;

    &--smaller {
        width: 63%;
    }
  }

  /* Begin Equal height Rules */
  &--equal-height {
      display: flex;

      & > div {
          float: none;
          display: flex;
      }
  }


}
